Adafruit-Blinka==5.5.3
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==2.18.1
Adafruit-PureIO==1.1.7
Adafruit-SSD1306==1.6.2
click==7.1.2
Flask==1.1.2
humanfriendly==8.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Pillow==8.0.0
pyftdi==0.52.0
pyserial==3.4
pyusb==1.1.0
Werkzeug==1.0.1
