@import "fonts.css";

* {
  box-sizing: border-box;
}

a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

body {
  padding: 5px;
  font-family: "Commissioner", "Roboto-Mono";
  text-rendering: geometricprecision;
  color: #222222;
  background: black;
  font-size: medium;
  margin: 0%;
  font-weight: 700;
  width: 100%;
}

@supports (-webkit-font-smoothing: subpixel-antialiased) {
  body {
    -webkit-font-smoothing: subpixel-antialiased;
  }
  input, select, label {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

@supports not (-webkit-font-smoothing: subpixel-antialiased) {
  body {
    text-rendering: geometricprecision;
  }
  input, select, label {
    text-rendering: geometricprecision;
  }
}

p {
  margin: 0px;
}

h1 {
  font-size: 800%;
  letter-spacing: -7px;
  margin: 0%;
}

h2 {
  font-size: 150%;
  font-weight: 700;
  text-align: left;
  letter-spacing: -1px;
  margin: 0%;
  padding-left: 5px;
  /*line-height: 80%;*/
}

h3 {
  font-size: 120%;
  margin: 0px;
  text-align: left;
  letter-spacing: -1px;
}

form {
  margin: 0%;
  padding: 5px;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 500;
  background-color: transparent;
  /*width: 285px;*/
}

input, select {
  width: 80%;
  font-family: "Commissioner", "Roboto-Mono";
  font-weight: 600;
  color: #222222;
  flex-grow: 1;
  border: none;
  outline: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  /*border: 1px solid #999999;*/
  background-color: #ebebeb;
  font-size: 100%;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}



label {
  width: 100%;
  text-align: right;
  padding-right: 10px;
  flex-grow: 0.5;
  font-family: "Commissioner", "Roboto-Mono";
  font-weight: 600;
  font-size: 120%;
  color: #222222;
}

@keyframes textFade {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes orangeToBlue {
  0% {
    color: #F7CD42;
  }
  80% {
    color: #04257E;
  }
}

.nicerow {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 1px;
  /*justify-content: space-around;*/
}

.rowalign {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  align-items: center;
  padding: 2px;
}

.rowalign_lab {
  display: flex;
  /*flex-grow: 1;*/
  flex-basis: auto;
  align-items: center;
  padding-left: 8px;
}

.topcontainer {
  display: grid;
  grid-template-columns: 285px auto;
  /*grid-template-rows: 108px;*/
  align-items: end;
}

.title {
  font-size: 800%;
  letter-spacing: -5px;
  margin: 0%;
  font-weight: 800;
  line-height: 85%;
  color: #f9b10a
}

.message {
  opacity: 0;
  font-size: 150%;
  animation-name: textFade;
  animation-duration: 10s;
  letter-spacing: -1px;
  font-weight: 300;
  color: #ebebeb;
}

.debugmessage {
  font-size: 80%;
  letter-spacing: -1px;
  font-weight: 400;
  color: #222222;
}

.myellow {
  color: #F7CD42;
}

.mblue {
  color: #04257E;
}

.mblue_anim {
  color: #04257E;
  /*text-shadow: -1px 1px 2px #ffff;*/
  animation-name: orangeToBlue;
  animation-duration: 5s
}

.mblack {
  color: #000000;
}

.mwhite {
  color: #ffffff;
}

.chunk {
  background: #cccccc;
  color: black;
  display: block;
  border-radius: 5px;
  margin-top: 5px;
}

.fantimer {
  font-weight: 400;
}

@media screen and (max-width: 450px) or ({orientation: portrait;}) {
  .title {
    font-size: 600%;
    letter-spacing: : -4px;
  }
  h2 {
    font-size: 120%;
  }
  .fantimer {
    font-size: 60%;
  }
  .topcontainer {
    grid-template-columns: 210px auto;
  }
  .nicerow {
    flex-direction: column;
    font-size: 150%;
    height: auto;
    padding: 5px;
  }
  .rowalign {
    padding: 6px;
  }
  .rowalign_lab {
    padding-left: 2px;
  }
  label {
    text-align: left;
    padding-left: 5px;
  }
  .message {
    font-size: 80%;
  }
  .debugmessage {
    font-size: 60%;
  }
}

@media screen and (max-width: 350px){
  .title {
    font-size: 400%;
    letter-spacing: -3px;
  }
  .topcontainer {
    grid-template-columns: 140px auto;
  }
  .message {
    font-size: 80%;
    font-weight: 400,
  }
}