<html>
    <head>
        <title>Shed Control</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h1>Shed</h1>
        <div class="fan">
			<h2>Fan Timer: {{ fanTimer }}</h2>
            <form action="{{ posturl }}" method="post" role="form" class="fanform" enctype="multipart/form-data">
              {{ FanForm.csrf_token }}
              <h3>
                  {{ FanForm.hours.label }} {{ FanForm.hours() }}
                  {{ FanForm.mins.label }} {{ FanForm.mins() }}
                  {{ FanForm.add() }}
                  {{ FanForm.off() }}
                  {{ FanForm.refresh() }}
              </h3>
              <!-- <input type="submit" value="Add"> -->
            </form>
            <h4>
                {{ message }}
            </h4>
		</div>
		<div class="lights">
			<h2>Light Status: {{ lights }}</h2>
		</div>
    </body>
</html>